.button {
  background-color: #1a1a1a;
  color: #fff;
  padding: 0.6rem 1.4rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #444;
}
.button.subtle {
  background-color: transparent;
  color: #1a1a1a;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.button.subtle:hover {
  background-color: #f0f0f0;
  color: #000;
}

.button-center {
  text-align: center;
  margin-top: 2rem;
}
.button-center {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.gallery-item-link {
  display: block;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}

.gallery-item-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; /* opcjonalnie dla lepszego dopasowania */
}

.gallery-item-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(31, 61, 45, 0.7);
  color: white;
  padding: 0.5rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  text-align: center;
}

