@import 'variables';

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.motto {
  background-color: $color-motto-bg;
  font-style: italic;
  padding: 2rem;
  border-radius: 6px;
}

.btn {
  background-color: $color-accent;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  display: inline-block;

  &:hover {
    background-color: darken($color-accent, 10%);
  }
}

.city-grid, .trail-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  margin-top: 1rem;
}

footer {
  background-color: $color-footer-bg;
  color: $color-footer-text;
  text-align: center;
  padding: 1rem;
  font-style: italic;
}
