// Kolory
$color-background: #F5F2EA;
$color-accent: #1F3D2D;
$color-details1: #CBAE75;
$color-details2: #B5694F;
$color-motto-bg: #DCE8ED;
$color-footer-bg: #2E3440;
$color-footer-text: #CBAE75;

// Typografia
$font-heading: 'Playfair Display', serif;
$font-body: 'Lato', sans-serif;

// Breakpoints
$breakpoint-mobile: 600px;
