---
layout: default
---
<main>
  <div class="page-wrapper">
    <article class="note">
      <h1 class="page-title">{{ page.title }}</h1>

      {% if page.cover_image %}
        <div class="note-cover">
          <img src="/assets/images/notes/{{ page.cover_image }}" alt="{{ page.title }}">
        </div>
      {% endif %}
      {% if page.date %}
        <p class="note-date">{{ page.date | date: "%d %B %Y" }}</p>
      {% endif %}
      <div class="page-content">
        {{ content }}
      </div>
      <div class="button-center">
        <a class="button subtle" href="/notes/">More Notes</a>
      </div>
    </article>
  </div>
</main>
