---
layout: default
---

<main class="page-wrapper">
  <article class="trip">
    <h1 class="page-title">{{ page.title }}</h1>

    {% if page.cover_image %}
    <div class="trip-cover">
      <img src="/assets/images/trips/{{ page.cover_image }}" alt="{{ page.title }}">
    </div>
    {% endif %}

    <div class="trip-content">
      {{ content }}
    </div>

    {% if page.date %}
      <p class="trip-date">{{ page.date | date: "%d %B %Y" }}</p>
    {% endif %}

    <div class="button-center">
      <a class="button subtle" href="/off-the-trail/">All excursions</a>
    </div>
  </article>
</main>
